/* definir las variables de los colores*/
:root{
    --bg-color: #0C0C0C;
    --morado: #5E1FFF;
    --verde: #00F160;
    --azul: #001fff;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
}
/*estilos generales*/
*{
    background-color: var(--bg-color);
}
/*estilo version movil maximo 600px*/
@media screen and (max-width: 600px){
    section{
        padding:5%;
    }
    section div img{
        width: 50%;
    }
    #enlaces{
        display: flex;
        align-items: center;
        text-align: center;
    }
    footer{
        text-align: center;
    }
}
/*estilo version pc minimo 600px*/
@media screen and (min-width: 600px) {
    section{
        margin:16vh 10vw 0 10vw;
        border-top: 2px solid var(--verde);
        border-left: 2px solid var(--verde);
        border-right: 2px solid var(--verde);
        border-radius: 30px;
        padding: 2vw;
    }

    h2{
        margin:5vh 0;
        text-align: center;
        color:white;
        font-size: 2.5rem;
    }
    div{
        text-align: center;
    }
    div a{
        margin-right:10vh;
        margin-left: 10vh;
    }

}