/*estilo version movil maximo 600px*/
@media screen and (max-width: 600px){
  
}
/*estilo version pc minimo 600px*/
@media screen and (min-width: 600px) {
nav{
    position: fixed;
    top: 0;
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    
  }
  .menu-item{
    display: block;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    border-left: 1px solid #1479EA;
    border-right: 1px solid #1479EA;
    border-radius: 10px;
    margin: 2% 5%;
  }
  .menu-item:hover{
    box-shadow: inset 0px 0px 25px #1479EA;
}
}