/* definir las variables de los colores*/
:root{
    --bg-color: #0C0C0C;
    --morado: #5E1FFF;
    --verde: #00F160;
    --azul: #001fff;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;

}
/* estilos generales*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color:#f2f2f2;
}  

/*estilo version movil maximo 600px*/
@media screen and (max-width: 600px){
  header img{
    width: 100%;
  }
  h1, h2{
    color:var(--verde);
    text-align: center;
  }
  h1{
    font-family: 'Cardo', serif;
  }
  .card {
    display:flex;
    flex-direction: row;
    gap:5%;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .card a{
    color:var(--azul);
  }
  footer p, footer a {
    color:var(--azul);
    text-align: center;
  }
}
/*estilo version pc minimo 600px*/
@media screen and (min-width: 600px) {
  h1{
    color: var(--verde);
    font-size: 4em;
    font-family: 'Cardo', serif;
  }
  h2{
    color: var(--verde);
  }
      /*estilo del menu*/
  .card {
      width: 210px;
      height: 254px;
      border-radius: 4px;
      background: var(--bg-color);
      display: flex;
      gap: 5px;
      padding: .4em;
      grid-area: menu;
      margin-left: 10vw;
      margin-bottom: 10vh;
    }
  .card p {
      height: 100%;
      flex: 1;
      overflow: hidden;
      cursor: pointer;
      border-radius: 2px;
      transition: all .5s;
      background: var(--bg-color);
      border: 1px solid var(--azul);
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--azul);
    }
    
  .card p:hover {
      flex: 4;
    }
    
  .card p span {
      min-width: 14em;
      padding: .5em;
      text-align: center;
      transform: rotate(-90deg);
      transition: all .5s;
      text-transform: uppercase;
      color:var(--azul);
      letter-spacing: .1em;
    }
    
  .card p:hover span {
      transform: rotate(0);
    }
    /***********************************************************/
    /* ---- particles.js container ---- */ 
    #particles-js{ 
      position:fixed;
      top:0;
      left: 0; 
      width: 100%; 
      height: 100%; 
      z-index: -1;
      background-color: #0c0c0c;
      background-repeat: no-repeat; 
      background-size: cover; 
      background-position: 50% 50%;
     } 
    /****************************************************************************/
    header{
      display: grid;
      grid-template-columns: 45% 45%;
      grid-template-rows: auto auto;
      grid-template-areas: "titulo avatar"
                            "menu avatar";
    }
    #titulo{
      grid-area: titulo;
      padding:5vw 5vw;
    }
  #avatar{
    grid-area: avatar;
    width: 100%;
  }
  .presetacion{
    border-top: 2px solid var(--azul);
    border-left: 2px solid var(--azul);
    border-right: 2px solid var(--azul);
    border-radius: 30px;
    margin: 0 20vw;
    padding: 2vw;
  }

  #article_about{
    border-top: 2px solid var(--azul);
    border-left: 2px solid var(--azul);
    border-right: 2px solid var(--azul);
    border-radius: 30px;
    margin: 0 20vw;
    padding: 2vw;
  }
  .sofy{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
  }
  .h4sofy{
    display: block;
    text-align: center;
  }
 
  footer{
    text-align: center;
  }
  footer a:hover{
    color:var(--morado);
}
}