/* definir las variables de los colores*/
:root{
    --bg-color: #0C0C0C;
    --morado: #5E1FFF;
    --verde: #00F160;
    --azul: #001fff;
    font-size: 20px;

}
/* estilos generales*/

/*estilo version movil maximo 600px*/
@media screen and (max-width: 600px){
  
}
/*estilo version pc minimo 600px*/
@media screen and (min-width: 600px) {
    #about{
        margin-top:20vh;
    }
    h2{
        margin:5vh 0;
        text-align: center;
    }
        footer{
        text-align: center;
        position: fixed;
        bottom: 0;
    }
}