/* definir las variables de los colores*/
:root{
    --bg-color: #0C0C0C;
    --morado: #5E1FFF;
    --verde: #00F160;
    --azul: #001fff;
    font-size: 20px;

}
/* estilos generales*/
*{
    background-color: var(--bg-color);
}
/*estilo version movil maximo 600px*/
@media screen and (max-width: 600px){
  body{
    padding: 5%;
  }
}
/*estilo version pc minimo 600px*/
@media screen and (min-width: 600px) {
    #about{
        margin:16vh 10vw 0 10vw;      
    }
    h2{
        margin:5vh 0;
        text-align: center;
        color:white;
        font-size: 2.5rem;
    }
    footer{
        text-align: center;
        bottom: 0;
    }
    footer a:hover{
        color:var(--morado);
    }
    #img-laptop{
        width: 20%;
        position: fixed;
        top:10;
        left: 10%;

    }
    #img-calc{
        position: fixed;
        bottom: 0;
        right: 10%;
    }
    article{
        margin-top: 5vh;
    }    
}